<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KILLBASE</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <div class='header'>
        <a href="/index"><img class='img' src="../killbase-logo-25x.png" alt="logo" height="50" width="50" style='float:left' href='#default'></a>
        <h2 style='padding-left: 50px; margin: auto; margin-top: 15px;color: black;font-size:40px; font-style: italic;
        font-family: cursive;font-weight: bold'> KILLBASE</h2> 
         
        <nav>
            <ul>
            <li><a href="/assassins"> Assassins </a> </li>
            <li><a href="/contracts"> Contracts </a></li>
            <!-- <li><input type="text" placeholder="Search.." name="keyword" style="float:right; padding-right:10px"> <form action="/search" method="POST"><button type="submit"><i class="fa fa-search"></i></button></form> </li> -->
        </ul>
        </nav>    
        </div>
    </div>
</head>