
<% include header.ejs %>
<body background= "https://pre00.deviantart.net/044c/th/pre/f/2008/093/9/7/hitman_wallpaper___wooded_bg_by_r_deano.jpg" 
style="background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;">
</body>
</html>