
<% include header.ejs %>
<body background= "https://pre00.deviantart.net/044c/th/pre/f/2008/093/9/7/hitman_wallpaper___wooded_bg_by_r_deano.jpg" 
style="background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;">
   
    <!-- <div class="card" style='float:left' >
            <img src="assassin.jpg" alt="Avatar" width=350 height=350  >
            <div class="container" >
          
          <a href="/assassins"><button>ASSASSINS</button></a>
         
        </div>
        <img src="contracts.png" alt="Avatar" width=500 height=500 style='float:right'>
        <div class="container" >
          
          <a href="/contracts"><button style='float:left'>CONTRACTS</button></a> 

        </div>

      </div> -->
</body>
</html>