<% include ../header.ejs %>

<body style='background-color:lightgray;' >
    
    <div style="text-align:center;font-style: italic;
    font-family: cursive;font-weight: bold">
        <h2>DELETED THE CONTRACT PROFILE SUCCESSFULLY !!</h2>
    </div>
    <a href="/index" style='padding-left:50%;padding-top: 20%' ><button class='btn btn-danger' >Home</button></a>
</body>

</html>