<% include /Users/shubhamagrawal/Desktop/Q2/killbase-app/views/header.ejs %>

<body style='background-color:lightgray'>
    <h2 style="text-align:center">NEW CONTRACT</h2>
    <form name="form1" method="POST" action="/newContract/add">
        <table align='center'>
            <tr>
                <td>PHOTO : </td>
                <td><input type="text" name="photo"></td>
            </tr>
            <tr>
                <td>Target name : </td>
                <td><input type="text" name="target_name" required='true'></td>
            </tr>
            <tr>
                <td>Target Location : </td>
                <td><input type="text" name="target_location" required='true'></td>
            </tr>
            <tr>
                <td>Target Security : </td>
                <td><input type="text" name="target_security" required='true' placeholder="integer only"></td>
            </tr>
            <tr>
                <td>Client Name : </td>
                <td><input type="text" name="client_name" required='true'></td>
            </tr>

            <tr>
                <td>Budget : </td>
                <td><input type="text" name="budget" required='true' placeholder="integer only"></td>
            </tr>
            <tr>
                <td>Complete Status : </td>
                <td><input type="text" name="complete" required='true' placeholder="true or false"></td>
            </tr>
            <tr>
                <td colspan="2" align='center'><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>

</body>

</html>